<%= content_for(:jumbotron) do %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Find_a_car</h1>
      <p class="lead">車のレビューサイトです。</p>
    </div>
  </div>
<% end %>
