<%= content_for(:jumbotron) do %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><strong>Find a car !<strong></h1>
      <p class="lead"><h2>あなたにぴったりの一台を、リアルな声から見つけよう！</h2><br>
      「Find a car」は、実際のユーザーが投稿したレビューをもとに、車選びをサポートするクルマレビューサイトです!<br>
      メーカー・ジャンル・年式など、気になる条件で検索して、理想の一台を見つけてください！</p>
    </div>
  </div>
<% end %>
