<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<div class="row">
  <div class="col-12 col-md-4 col-lg-3">
    <h3><%= @user.name %></h3>
    <!--TODO: "画像を入れたい"-->
    <% if user_signed_in? && current_user == @user %>
      <%= link_to "編集", edit_user_path(@user), class: "btn btn-warning btn-block" %>
      
      <%= link_to "新規投稿", new_user_post_path(@user), class: "btn btn-primary btn-block" %>
    <% end %>
  </div>

  <div class="col-12 col-md-8 col-lg-9">
    <%= render "public/posts/posts", posts: @posts %>
  </div>
</div>

