<% if notice %>
  <div class="alert alert-success" style="margin-bottom:0;">
    <div class="container">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" style="margin-bottom:0;">
    <div class="container">
      <%= alert %>
    </div>
  </div>
<% end %>
